body, html {
  background-image: url("../images/bg.jpg");
  /* Center and scale the image nicely */
}

.name{
color:black;
font-size:50px;
font-family: Comfortaa;
}

.quote{
font-size:23px;
margin-bottom:10px;
font-family: 'Open Sans', sans-serif;
}

a:hover, a:active, a:visited, a:link {
  text-decoration: none;
}

.centercol{
  background-color: white;
}

.endcol{
  background-color: #000;
}


.border {
  background-color: #fff;
  color: #222;
  padding: 10px;
  padding-left: 28px;
  font-size: 25px;
  letter-spacing: 10px;
}

.img{
  height:80px;
  width:80px;
}

.img50 {
  height: 45px;
  width: 150px;
}
.img100 {
  height: 55px;
  width: 330px;
}

.dow{
color:#ffffff;
font-size:16px;
}
.card {
   background-color: #fff;
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(250,250,250,0.5);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(250,250,250,0.8);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}
